// main colors
$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;


// primary colors 
$light_cayan: #cee3e9;
$neon_green: #52ffa8; 

// natural colors 
$grayish_blue:#4e5d73;
$dark_grayish_blue:#323a49;
$dark_blue:#1f2632;